<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shippers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shippers">Mostrar Shippers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shipper/:id">Buscar Shipper por ID</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shippers/add">Añadir Shipper</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-shipper">Actualizar Shipper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="delete/shipper">Eliminar Shipper</a>
          </li>
      </ul>
    </div>
  </nav>
  
  
  